---
layout: default
---

<div class="media">
  <media_title>{{ page.title }}</media_title>
  <author>{{ page.author }}</author>
  <div class="year">{{ page.year }}</div>
  <abstract>
    {{ content }}
  </abstract>
  <a href="{{ page.media-url }}">Available here</a>
  <div class="keywords">{{ page.keywords }}</div>
  
  {% if page.related %}
    </br>
    <div class="related">
      Related Documents:
      <ul>
        {% for document in page.related %}
          {% assign sorted_docs = site.docs | sort: 'year' | reverse %}
          {% for page in sorted_docs %}
            {% if page.media-id == document %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
